* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    background: beige;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    gap: 20px;
}

.box {
    border: 1px solid black;
    background: red;

    display: flex;
    justify-content: center;
    align-items: center;
}

#HEADER {
    grid-column: 1 / 4;
}

#SIDEBAR {
    grid-row: 2 / 4;
}

#CONTENT1 {
    grid-column: 2 / 4;
}

#FOOTER {
    grid-column: 1 / 4;
}
